.proyectos-list {
	margin: 0 !important;
	justify-content: center;

	a:hover {
		text-decoration: none !important;
	}

	&__item {
		width: 100% !important;
		box-shadow: 2px 2px 5px #999 !important;

		&:hover {
			background-color: rgb(229, 236, 250);
		}

		.extra {
			.meta {
				padding: 5px 0;
			}
			i {
				margin-right: 5px !important;
			}
		}
	}
}

.pagination {
	display: flex;
	justify-content: space-between;
	// margin: 0 20px !important;
	> a {
		margin: 0 1.5em;
	}
}
