@import "../../sass/index.scss";

.artes-list {
	margin: 5em 0 0 0 !important;
	justify-content: center;
	text-align: center;

	a {
		color: black;
	}

	a:hover {
		text-decoration: none !important;
	}

	&__item {
		width: 100% !important;
		box-shadow: 2px 2px 5px #999 !important;

		&:hover {
			background-color: rgb(229, 236, 250);
		}

		.extra {
			.meta {
				padding: 5px 0;
			}
			i {
				margin-right: 5px !important;
			}

			.ui.buttons {
				display: flex;
				justify-content: center;
				align-content: center;
				> a {
					font-weight: bold;

					@media (max-width: $breakpoint-up-sm) {
						font-size: 11px !important;
					}
				}
			}
		}
	}
}

.pagination {
	display: flex;
	justify-content: space-between;
	// margin: 0 20px !important;
	> a {
		margin: 0 1em;
	}
}
