@import "../sass/index.scss";

@font-face {
	font-family: BarlowRegular;
	src: url("../images/Barlow-Regular.ttf") format("opentype");
}

.ui.container.BoxIcon {
	display: flex !important;
	justify-content: center;
	align-items: center;
	.IconDis {
		mix-blend-mode: hard-light;
		width: 280px;
	}
	h1 {
		padding: 20px 0px;
		font-family: BarlowRegular;
		font-size: 4em;
		font-weight: 600;
		color: floralwhite;
		-webkit-text-stroke: 1px whitesmoke;
		text-shadow: 1.5px 1.5px 2px black;
		@media (max-width: $breakpoint-up-sm) {
			font-size: 2.5em !important;
		}
	}
}
