@import "../../sass/global.scss";

// @font-face {
// 	font-family: BaronNeue;
// 	src: url("../../images/BaronNeue.otf") format("opentype");
// }
.arte {
	.prod-excerpt {
		h1 {
			text-align: center;
			margin: 30px 0;
			// font-family: BaronNeue;
			text-transform: lowercase;
		}
		.ui.grid {
			> .row {
				justify-content: flex-end !important;
			}
			.ui.label.precio {
				font-size: 16px !important;
				font-weight: bold;
				background-color: rgb(238, 60, 60);
				color: white;
				margin-left: 3em;
			}
		}
	}

	.markdown-body {
		padding: 10px 20%;

		@media (max-width: $breakpoint-up-md) {
			padding: 10px 2%;
		}

		@media (max-width: $breakpoint-up-sm) {
			padding: 10px 0;
		}

		p {
			font-size: 20px;
			font-family: "Open Sans", sans-serif;

			ul {
				li {
					font-size: 15px !important;
				}
			}
		}

		.row.buttons {
			display: flex;
			justify-content: space-around;
			a {
				margin: 1.5em 0;
			}
		}

		code {
			display: block;
			border: 1px solid rgba(22, 229, 231, 0.6);
			border-radius: 4px;
			background-color: #333;
			padding: 1em 1.2em;
			color: #0098d3;
		}
		figure {
			align-items: center;
			justify-content: center;
		}

		figure.image {
			text-align: center;
			img {
				width: 100%;

				@media (min-width: $breakpoint-up-md) {
					max-width: 100%;
					width: auto;
				}
			}
		}

		.iframe-container {
			width: 100%;

			iframe {
				width: 100%;
				height: 100%;

				@media (min-width: $breakpoint-up-lg) {
					height: 650px;
				}

				@media (max-width: $breakpoint-down-md) {
					min-height: 400px;
				}
				@media (max-width: $breakpoint-down-sm) {
					min-height: 300px;
				}
			}
		}

		ul {
			padding-top: 5px;
			padding-bottom: 5px;
			li {
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}
	}
}
