@import "../../sass/global.scss";

// @font-face {
// 	font-family: BaronNeue;
// 	src: url("../../images/BaronNeue.otf") format("opentype");
// }

.proyecto {
	.markdown-body {
		padding: 10px 20%;

		@media (max-width: $breakpoint-up-md) {
			padding: 10px 2%;
		}

		@media (max-width: $breakpoint-up-sm) {
			padding: 10px 0;
		}

		p {
			font-size: 24px;
			font-family: "Open Sans", sans-serif;
			color: $font-gray;
		}

		h1 {
			text-align: center;
			margin: 30px 0;
			// font-family: BaronNeue;
			text-transform: lowercase;
		}

		h2 {
			font-size: 30px;
			color: $font-gray;
		}

		h3.place {
			font-size: 20px;
			margin: 20px 0;
			color: $font-gray;
		}

		span {
			margin-left: 3px !important;
			color: $font-gray;
		}

		a {
			overflow-wrap: break-word;

			&:hover {
				text-decoration: none;
			}
		}

		code {
			display: block;
			border: 1px solid rgba(22, 229, 231, 0.6);
			border-radius: 4px;
			background-color: #333;
			padding: 1em 1.2em;
			color: #0098d3;
		}

		img {
			width: 100% !important;
		}

		figure {
			align-items: center;
			justify-content: center;
		}

		figure.image,
		figure.wp-block-image,
		figure.wp-block-image.is-resized {
			text-align: center;
			img {
				width: 100% !important;

				@media (min-width: $breakpoint-up-md) {
					max-width: 100%;
					width: auto;
				}
			}
		}

		.iframe-container {
			width: 100%;

			iframe {
				width: 100%;
				height: 100%;

				@media (min-width: $breakpoint-up-lg) {
					height: 650px;
				}

				@media (max-width: $breakpoint-down-md) {
					min-height: 400px;
				}
				@media (max-width: $breakpoint-down-sm) {
					min-height: 300px;
				}
			}
		}

		ul {
			padding-top: 5px;
			padding-bottom: 5px;
			li {
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}
	}
}
